#n1 {font-size: 40px; border-style: solid; padding-right: 100px; padding-bottom: 100px; 
	padding-left: 650px; margin-left: 100px; background-color: red;}
a {text-align: center;}	
#n2 {}
body {background-image: url(bkg.jpg); background-size: 100%; }